/* Home Page */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  background: url(./assets/374852.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 830px;
}

.homeh1 {
  color:white;
  font-size: 150px;
  line-height:  0;
  font-family: 'ralewaythin';
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}

.homeh6 {
  color:white;
   font-size: 25px;
  line-height: 0;
  font-family: 'ralewaythin';
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}

a { 
  align-self: center;
 }

.homebutton {
  background: none;
  border: 2px solid white;
  box-shadow: none;
  color: white;
  width: 400px;
  height: 40px;
  font-size: 20px;
  font-family: 'ralewaythin';
  text-transform: uppercase;
  align-self: center;
  border-radius: 20px;
  outline: none;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  background: url(./assets/pEeUsp1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 830px;
}

.registerh1 {
  color:white;
  font-size: 60px;
  line-height: 0;
  font-family: 'ralewaythin';
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
}

.registerh6 {
  color:white;
   font-size: 15px;
  line-height: 0;
  font-family: 'ralewaythin';
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.registerbutton {
  background: none;
  border: 2px solid white;
  box-shadow: none;
  color: white;
  width: 600px;
  height: 40px;
  font-size: 20px;
  font-family: 'ralewaythin';
  text-transform: uppercase;
  align-self: center;
  border-radius: 20px;
  outline: none;
  margin-top: 50px;
}

p {
  font-family: 'ralewaybold'; 
  font-size: 10px;
  color: red;
  text-align: center;
  text-transform: uppercase;
}

input {
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  align-self: center;
  color: white;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  font-family: 'ralewaybold'; 
}

select {
  background: none;
  align-self: center;
  border: 2px solid white;
  border-radius: 80px;
  height: 36px;
  width: 208px;
  text-transform: uppercase;
  outline: none;
  font-family: 'ralewaybold'; 
  color: white;
}

.view {
  background-color: white;
}

.viewh1 {
  color:black;
  font-size: 60px;
  line-height: 0;
  font-family: 'ralewaythin';
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
}

.viewh6 {
  color:black;
   font-size: 15px;
  line-height: 2;
  font-family: 'ralewaythin';
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.viewlist {
  border-top: 1px solid black;
  height: 400px;
  overflow: scroll;
}

.actuallist li {
  list-style-type: none;
  color: black;
  font-family: 'ralewaythin';
  margin: 5px 5px;
}

.actuallist span {
  margin-left: 10px;
}
.actuallist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.viewfooter {
  background-color: black;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewfooter a {
  color: white;
}

a {
  color:white;
  font-size: 40px;
  line-height: 2;
  font-family: 'ralewaythin';
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.report {
  background-color:white;
}

.reporth1 {
  color:black;
  font-size: 60px;
  line-height: 0;
  font-family: 'ralewaythin';
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
}

.reporth6 {
  color:black;
  font-size: 20px;
  line-height: 0;
  font-family: 'ralewaythin';
  text-align: center;
  text-transform: uppercase;
}

.report select {
   background: none;
  align-self: center;
  border: 2px solid black;
  border-radius: 80px;
  height: 36px;
  width: 208px;
  text-transform: uppercase;
  outline: none;
  font-family: 'ralewaybold'; 
  color: black;
  width: 20%;
  margin-left: 5%;
}

a {
  color:black;
   font-size: 30px;
  line-height: 2;
  font-family: 'ralewaythin';
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.reportactiondiv {
  margin-top: 100px;
  display: flex; 
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.report input {
  text-align: left;
  overflow: hidden;
  color: black;
  font-family: 'ralewaythin';
  border: 2px solid black; 
  width: 60%;
  height: 200px;
  margin-left: 5%;
}

.reportfooter {
  background: black;
  height: 350px;
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 175px;
}

.footerlink{
  color:white;
  font-size: 30px;
  line-height: 2;
  font-family: 'ralewaythin';
  text-align: center;
  text-transform: uppercase;
  margin-top: 200px;
}





